.explore-categories {
  margin-top: 64px;
}

.explore-title {
  margin-bottom: 24px;
}

.explore-grids {
  display: flex;
  gap: 16px;
  align-items: center;
}

.explore-grids a {
  display: flex;
  flex-direction: column;
  width: 135px;
  height: 112px;
  padding: 22px 22.5px 16px 22.5px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);
  align-items: center;
  text-decoration: none; /* Удаление подчеркивания */
}

.explore-grids a img {
  max-width: 100%; /* Обеспечивает адаптивность изображения */
  max-height: 60px; /* Ограничивает высоту изображения */
}

.explore-grids a p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px; /* Добавляет небольшой отступ сверху для текста */
}

@media (max-width: 1400px) {
  .explore-events {
      max-width: 1156px;
  }
  .explore-grids {
      justify-content: center;
  }
}

@media (max-width: 1200px) {
  .explore-grids {
      flex-wrap: wrap;
      justify-content: center;
  }
}

@media (max-width: 768px) {
  .explore-grids {
    padding: 0 43px;
  }
}

@media (max-width: 576px) {
  .explore-events h2 {
      font-size: 20px;
  }
  .explore-grids {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 11px;
  }
}
