header {
  padding: 20px 45px;
  display: flex;
  justify-content: space-between;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.inputs-form {
  display: flex;
  align-items: center;
  position: relative;
}

.header-input {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.header-input[type="search"] {
  border-radius: 8px 0 0 8px;
  width: clamp(150px, 80%, 350px);
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 13px 24px 13px 37px;
  border-right: none;
}

.header-input[type="search"]:hover {
  outline: none;
  border: 1px solid black;
}

.header-input[type="text"] {
  width: 254px;
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 13px 9px 13px 17px;
}

.header-input[type="text"]:focus {
  outline: none;
  border: 1px solid black;
}

.header-search-button {
  display: flex;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #f65858;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}

.input-img {
  position: absolute;
  left: 12px;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header-change,
.header-login {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

.header-change:hover,
.header-login:hover {
  text-decoration: underline;
}

.signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 36px;
  color: #d9d9d9;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1196px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .header-input[type="text"] {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column-reverse;
  }

  .location-container {
    padding-top: 15px;
    width: 100%;
  }
  .location-container a {
    display: none;
  }
  .header-button {
    display: flex;
    justify-content: space-between;
  }
 
  .inputs-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  header {
    padding: 4px 7px;
  }

  .header-button {
    gap: 10px;
  }
  .header-button .header-change,
  .header-button .header-login,
  .header-button .signup-button {
      font-size: 12px;
    }
  }

.logo-min {
  display: none;
}
.header-button-container {
  display: flex;
  gap: 22px;
}
@media (max-width: 768px) {
  .logo-min {
    display: block;
  }
}