* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Roboto', sans-serif;
background: #FFFFFF; 
}

.location-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 11px 24px 11px 24px;
height: 64px;
}
.location-container img {
  width: auto;
}

.Vector {
  width: 118px;
  height: 34px;
  margin-right: 40px;
  margin-top: 22px;
}
.location-container input {
  width: 300px;
  height: 42px;
  margin: -3px;
}
.left input {
padding-left: 22px;
border: 1px solid grey;
}
.left span {
  position: relative;
  top: 14px;
  left: 7px;
  margin-right: 43px;
}

#search_svg {
  top: 2px;
  width: 14px;
  height: 16px;
  position: relative;
  right: -22px;
}

#redsearch_svg {
position: relative;
top: 16px;
left: -3px;
}
.button:hover {
cursor: pointer;
background-color: #1f5d61;
}
.button {
display: flex;
align-items: center;
width: 80px;
height: 40px;
top: 15px;
cursor: pointer;
padding: 7px 15px 7px 15px;
border-radius: 8px;
background: #00798a;
color: white;
font-size: 13px;
border: none;
line-height: 18px;

}
.treelog1 {
display: flex;
align-items: center;
font-size: 14px;
margin-top: 15px;
margin-bottom: 8px;
position: relative;
border: none;
background-color: white;
}
.treelog1:hover:active {
  background-color: rgb(247, 247, 247);
  transform: translateX(5px);
 }

.treelog {
display: flex;
align-items: center;
margin-top: 25px;
margin-bottom: 15px;
position: relative;
border: none;
background-color: white;
}
.treelog:hover:active{
  transform: translateY(2px);
  color: black;
 }


.treelog img {
position: relative;
align-items: center;
margin-right: 5px;
bottom: 2px;
width: 20px;
height: 20px;

}
.right {
display: flex;
align-items: center;
gap: 21px;
margin-top: 22px;

}


