/* .box_velik {
display: flex;
justify-content: center;
align-items: center;
} */
.headerbild-container {
display: flex;
justify-content: center;
margin-top: 71px;
height: 461px;
margin-bottom: 24px;
}
.headerbild-container>* {
  width: 50%;
}
.button_meetup:hover {
    cursor: pointer;
    background-color: #28a4c3;
}
.button_meetup {
  align-items: center;
   width: 125px;
   height: 40px;
   font-size: 16px;
   border-radius: 8px;
   background-color:rgba(0, 121, 138, 1);
   
}
.logo {
  color: white;
  text-decoration: none;
}
.boxtextleft {
    width: 50%;
}
.boxtextleft h1 {
font-size: 42px;
font-weight: bold;
}
.boxtextleft p {
    font-size: 16px;
    margin-top: 24px;
    height: 72px;
    margin-bottom: 24px;
    align-items: center;
}
.vellik {
  margin-left: 54px;
  height: 269px;
}