/* Общие стили для раздела с популярными городами */
.popular-cities {
  padding-top: 64px;
  text-align: left;
}

.popular-cities h2 {
  font-size: 36px; /* Большие буквы для заголовка */
  font-weight: bold; /* Жирное начертание для заголовка */
  margin-bottom: 16px; /* Отступ после заголовка */
}

.popular-cities p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* Стилизация списка городов */
.popular-cities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Равномерное распределение городов по горизонтали */
  align-items: center;
  gap: 20px;
}

.popular-cities-list img {
  width: 100%; /* Подразумевает круглые изображения, как элемент дизайна */
  height: 100%;
  border-radius: 50%; /* Делаем изображения круглыми */
}

.popular-cities-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popular-cities-list a:hover {
  text-decoration: underline;
}

/* Адаптация к различным размерам экранов */
@media (max-width: 1200px) {
  .popular-cities-list a {
    font-size: 18px; /* Уменьшаем размер шрифта для поддержания 5 элементов в строке */
  }
}

@media (max-width: 992px) {
  .popular-cities-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .popular-cities-list a {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .popular-cities-list {
    flex-direction: column;
    align-items: center;
  }

  .popular-cities-list img {
    width: 70%px; /* Уменьшаем размер изображения для столбца */
    height: 70%px;
  }
}
